* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
    font-family: 'poppins', Arial, sans-serif;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 65%, rgba(196, 97, 175, 1) 35%), url(1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

 .header {
    background-color: rgba(0, 0, 0, 0);
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

 