* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerR{
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.416);
    margin: 0px auto;
    margin-bottom: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    display: flex;
    align-items: start;
}

.h12{
    padding-bottom:1%;
}

 .registration-form {
    text-align: center;
    align-items: center;
    margin-top:40px;
}

.form-input {
    width: 100%;
    max-width: 400px;
    height: 35px;
    background: transparent;
    border: 1px solid #ccc;
    color: #333;
    font-size: 15px;
    font-family: 'poppins', Arial, sans-serif;
    letter-spacing: 1px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
}

 .form-input:focus {
    outline: none;
}

.new{
    font-size:16px;
    font-family: 'poppins', Arial, sans-serif;
    font-weight:100px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding-top: 7px;
    height: 35px;
    flex-direction: column;
    display: flexbox;
    max-width: 400px;
    background: transparent;
    border: 1px solid #ccc;
    color: #333333c2;
    letter-spacing: 1px;
    border-radius: 5px;
}
.new2{
    font-size:16px;
    font-family: 'poppins', Arial, sans-serif;
    font-weight:100px;
    max-width: 400px;
    background: transparent;
    border: 1px solid #ccc;
    color:#333333c2;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 35px;
    padding-top: 2px;
    padding:3px;
    letter-spacing: 1px;
    border-radius: 5px;
}

.register-btn {
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    color: #ffffff;
    font-family: 'poppins', Arial, sans-serif;
    font-size: 20px;
    border-radius: 10%;
    transition: 0.2s ease;
    cursor: pointer;
    margin-top: 7%;
}
.register-btn:hover {
    background-color: #ff4343;
}
.register-btn:focus {
    outline: none;
}
.link {
    font-family: 'poppins', Arial, sans-serif;
    font-size: 17px;
    padding-top: 20px;
}

.link a {
    font-family: 'poppins', Arial, sans-serif;
    text-decoration: none;
    color: #ff7200;
    font-weight: bold;
}